body {
    font-family: 'Nunito', sans-serif;
}

/* Navbar */
.navbar {
    padding: 0 19px 0 19px;
}

.bg-nav {
    background: #223843;
}

.navbar-brand {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;

    color: #FFFFFF;
}

.navbar-item {
    padding: 0 20px;
    font-size: 17px;
}

#visDict {
    padding: 0 40px 0 10px;
}

.btn-color {
    background-color: #FFB703;
    border-color: #FFB703;
    border-radius: 20px;
    font-weight: 500;
}

/* Top image as a background */
.top {
    position: relative;
}

#background_img {
    height: 450px;
    width: 100%;
}

#top_text {
    top: 25%;
    font-style: normal;
    font-weight: normal;
    font-size: 124px;
    line-height: 169px;
}

/* Footer */
footer {
    bottom: 0;
}